<body>
    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/bird.png">
            <mat-slider (input)="changeVolume($event, 'bird')"></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/rain.png">
            <mat-slider (input)="changeVolume($event, 'rain')"></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/coffee.png">
            <mat-slider (input)="changeVolume($event, 'coffee')"></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/park.png">
            <mat-slider (input)="changeVolume($event, 'park')"></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/fire.png">
            <mat-slider (input)="changeVolume($event, 'fire')"></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/storm.png">
            <mat-slider (input)="changeVolume($event, 'storm')"></mat-slider>
        </mat-card>
    </div>
</body>