<body>
    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/bird.png">
            <mat-slider></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/rain.png">
            <mat-slider></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/coffee.png">
            <mat-slider></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/park.png">
            <mat-slider></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/fire.png">
            <mat-slider></mat-slider>
        </mat-card>
    </div>

    <div class="container">
        <mat-card>
            <img mat-card-image src="../assets/storm.png">
            <mat-slider></mat-slider>
        </mat-card>
    </div>
</body>