body {
    text-align: center;
}

.container {
    width: 200px; /* Vary this based on device. */
    padding: 1%;
    display: inline-flex;
    justify-content: center;
  }

mat-card {
    background-color: ghostwhite;
    width: fit-content;
}

mat-card-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
}

mat-card-content {
    display: flex;
    justify-content: center;
}

/* Mobile and tablet. */
@media only screen and (min-width: 0px) and (max-width: 768px) {
    .row {
        padding-left: 5%;
        padding-right: 5%;
    }

    .column {
        width: 40%;
        
    }
}

/* Laptop and desktop. */
@media only screen and (min-width: 768px) and (max-width: 1600px) {
    .row {
        padding-left: 10%;
        padding-right: 10%;
    }

    .column {
        width: 30%;
        
    }
}

/* Ultra-wide setup. */
@media only screen and (min-width: 1600px) {
    .row {
        padding-left: 20%;
        padding-right: 20%;
    }

    .column {
        width: 20%;
    }
}