.logo {
    width: 75px;
}

mat-toolbar {
    display: flex;
    justify-content: center;
}

footer {
    background-color: ghostwhite;
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0px;
    width: 100%;
}